@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(0, 0, 0, 0);
}

/*antd-mobile样式覆盖*/
:root:root {
  --adm-center-popup-border-radius: 4px;
  --adm-center-popup-min-width: calc(100% - 66px);
  --adm-center-popup-max-width: calc(100% - 66px);
}
.adm-badge-wrapper {
  height: 32px;
}
.adm-tab-bar-wrap {
  background: #fff;
}
:root:root {
  --adm-color-primary: #476ff2;
}
.adm-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.adm-tab-bar-icon-badge {
  --top: 6px !important;
}
:root .adm-empty-description {
  color: #008fff;
  font-size: 16px;
  margin-top: 14px;
}
.hide-scrollbar {
  overflow-y: auto;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
:root .adm-tabs-tab {
  font-size: 18px;
  line-height: 25px;
  color: rgba(#333, 0.6);
}
:root .adm-tabs-tab-active {
  color: #008fff;
  text-shadow: 0px 5px 11px rgba(0, 143, 255, 0.302);
  font-weight: 600;
}
:root .adm-tabs-tab-line {
  display: none;
}
:root .adm-tabs-header {
  border-bottom-width: 0;
}
:root .adm-tabs-header-mask-left,
.adm-tabs-header-mask-right {
  display: none;
}
:root .adm-tabs-tab-wrapper {
  padding: 0 20px;
}
:root .adm-tabs-content {
  padding: 0;
}
:root .adm-tabs-tab-list {
  padding: 0 20px;
}
:root .adm-empty-description {
  color: #008fff;
  font-size: 16px;
  margin-top: 14px;
}
.org-empty .adm-empty-description {
  margin-top: 8px;
}
.fj .adm-tabs-tab-list {
  padding: 0 0;
}
.child-overview-input .adm-input-element {
  padding: 0 9px 0 32px;
  height: 36px;
  background: #f7f8fa;
  border-radius: 18px;
  margin-right: 8px;
}
